<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="David Albert" />

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>


<div class="about">
  <h1 id="site-title">Dave is here!</h1>
  <img alt="Dave" src="images/dave.png" />
  <p>Hi, I'm <strong>David Albert</strong>. I am an <strong>engineer</strong> and wannabe <strong>rock star</strong> living in <strong>New York City</strong>.</p>

  <p>I am the cofounder of <a href="http://hirehive.com/">HireHive</a>, which I started with my friend <a href="http://nick.is/">Nick</a>.</p>

  <p>I spend a fair amount of time on the internet. You can find me online here:</p>
  <ul class="nav-list">
    <li><img alt="Twitter" src="images/twitter.png" /> <a href="http://twitter.com/davidbalbert">@davidbalbert</a></li>
    <li><img alt="GitHub" src="images/github.png" /> <a href="http://github.com/davidbalbert">github.com/davidbalbert</a></li>
    <li><img alt="Facebook" src="images/facebook.png" /> <a href="http://facebook.com/davidbalbert">David Albert</a></li>
    <li><img alt="Linked In" src="images/linkedin.png" /> <a href="http://www.linkedin.com/in/davidbalbert">David Albert</a></li>
  </ul>
</div>

<div class="site">
  
  {{ content }}
  
  <div class="footer">
    <div>Forked from: <a href="http://github.com/mojombo/mojombo.github.com">mojombo.github.com</a></div>
    <div xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/" about="http://www.komodomedia.com/blog/2008/12/social-media-mini-iconpack/"><span property="dct:title">Social Network Icon Pack</span> (<a rel="cc:attributionURL" property="cc:attributionName" href="http://www.komodomedia.com/blog/2008/12/social-media-mini-iconpack/">Komodo Media, Rogie King</a>), Social Media Icons (<a href="http://paulrobertlloyd.com/2009/06/social_media_icons">Paul Robert Lloyd</a>) </div>
  </div>
</div>

</body>
</html>
