<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="David Albert" />

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="David Albert" />

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19652507-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>

<div class="about">
  <h1 id="site-title">Dave is here!</h1>
  <img alt="Dave" src="images/dave2.jpg" />
  <p>Hi, I'm David Albert. I am a computer programmer living in New York City.</p>

  <p>I did <a href="http://www.ycombinator.com/">Y Combinator</a> (S10) with my friend <a href="http://nick.is/">Nick</a>. I run <a href="http://www.hackerschool.com/">Hacker&nbsp;School</a> with Nick and <a href="http://sonalisridhar.com">Sonali</a>.</p>

  <p>I spend a fair amount of time on the internet. You can find me online here:</p>
  <ul class="nav-list">
    <li><img alt="Twitter" src="images/twitter.png" /> <a href="http://twitter.com/davidbalbert">@davidbalbert</a></li>
    <li><img alt="GitHub" src="images/github.png" /> <a href="http://github.com/davidbalbert">github.com/davidbalbert</a></li>
    <li><img alt="Hacker News" src="images/hn.png" /> <a href="http://news.ycombinator.com/user?id=davidbalbert">davidbalbert</a></li>
  </ul>
</div>

<div class="site">

  {{ content }}

  <div class="footer">
    <div>Forked from: <a href="http://github.com/mojombo/mojombo.github.com">mojombo.github.com</a></div>
    <div xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/" about="http://www.komodomedia.com/blog/2008/12/social-media-mini-iconpack/"><span property="dct:title">Social Network Icon Pack</span> (<a rel="cc:attributionURL" property="cc:attributionName" href="http://www.komodomedia.com/blog/2008/12/social-media-mini-iconpack/">Komodo Media, Rogie King</a>), Social Media Icons (<a href="http://paulrobertlloyd.com/2009/06/social_media_icons">Paul Robert Lloyd</a>) </div>
  </div>
</div>

</body>
</html>
